body{
  margin: 0px;
}
.Home{
  text-align: center;
}

.About{
  text-align: center;
}

.Login {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navigation{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: rgb(73, 79, 82);
  color: white;
}

.nav-links{
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.information {
display: flex;
flex-direction: column;
align-items: center;
}

.information input {
  padding-left: 10px;
  padding-right: 10px;
  width: 200px;
  height: 20px;
}
 .buttonLogin {
  margin-top: 10px;
  width: 100px;
  height: 25px;
}
 .buttonLogin:hover{
  cursor: pointer;
}

.information label {
  margin-top: 10px;
  margin-bottom: 10px;
}