body{
  margin: 0px;
}

.textcenter{
  text-align: center;
}

.game-area{
  position: relative;
  margin: 0px auto;
  width: 700px;
  height: 600px;
  border: 2px solid #000;
}

.fightb{
position: absolute;
left: 42%;
top: 0%;
}

.controls{
  position: relative;
  margin: 0px auto;
  width: 600px;
  height: 100px;
  border: 5px solid #000;
  background-color: grey;
}

.Login {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.information {
display: flex;
flex-direction: column;
align-items: center;
}

.information input {
  padding-left: 10px;
  padding-right: 10px;
  width: 200px;
  height: 20px;
}
 .buttonLogin {
  margin-top: 10px;
  width: 100px;
  height: 25px;
}
 .buttonLogin:hover{
  cursor: pointer;
}

.information label {
  margin-top: 10px;
  margin-bottom: 10px;
}

.enemie {
  padding-top: 30px;
  text-align: center;
}

.img {
  width: 43.5em;
  height: 32em;
  object-fit: cover;
}

.Ehp{
  color: red;
  font-size: xx-large;
  line-height: 1.5;
  text-align: center;
}

.Php{
  float: left;
  padding-top: 6px;
  padding-left: 5px;
}
.fightbuttn{
  width: 100px;
  margin-top: 10px;
}

.itemDrop{
  text-align: center;
  padding-top: 5px;
}